<section class="favorites">
  <div class="fav-container">
    <div class="fav-hero">
      <div class="static-block">
        <picture class="fav-image thumb">
          <source
            srcset="
              ./images/card-desc-min.jpg    1x,
              ./images/card-desc-2x-min.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/card-tab-min.jpg    1x,
              ./images/card-tab-2x-min.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/card-mob-min.jpg    1x,
              ./images/card-mob-2x-min.jpg 2x
            "
            media="(max-width: 767px)"
          />

          <img class="img-favorites" src="./images/card-mob-min.jpg" alt="tasty dish" />
        </picture>
      </div>
    </div>
    <div class="scrollable-list-fav">
          <div class="fav-category-block" id="category-filter-div"></div></div>
     <div class="container-cards">
        <ul class="fav-recipe-card-list gallery"></ul>
    </div>
    <div class="button-style-favorites">
      <div class="button-style">
        <div class="btn-block-style">
          <button type="button" class="pagination-button load-more btn_start btn-left">
             <svg class="icon-link arrow-subvine-two" width="24" height="24">
               <use href="./images/sprite.svg#icon-left-two"></use>
           </svg>
           </button>
           <button type="button" class="pagination-button load-more btn-left1 ">
             <svg class="icon-link" width="24" height="24">
               <use href="./images/sprite.svg#icon-left-one_1"></use>
           </svg>
           </button>
    
        </div>
       <div class="btn-block-style">
        <button type="button" class="load-more btn-center btn-center1">1</button>
        <button type="button" class="load-more btn-center btn-center2">2</button>
        <button type="button" class="load-more btn-center btn-center3">3</button>
        <button type="button" class="load-more btn-center">...</button>
       </div>
    
    
        <div class="btn-block-style">
        <button type="button" class=" load-more pagination-button  btn-right">
    
          <svg class="icon-link" width="24" height="24">
            <use href="./images/sprite.svg#icon-right-one"></use>
        </svg>
        </button>
        <button type="button" class=" load-more pagination-button btn-right btn-right-end">
            <svg class="icon-link arrow-subvine-two" width="24" height="24">
              <use href="./images/sprite.svg#icon-right-two"></use>
          </svg>
        </button>
        </div>
        
      </div>
    </div>
  </div>
</section>
