.heart-icon-active {
  color: red;
}

.btn-all-categori {
  max-width: 176px;

  font-family: Inter;
  font-size: 18px;

  line-height: 1.2;
  color: var(--primary-color-05);
  background-color: var(--bg-main);

  padding: 14px 29px;
  border-radius: 15px;
  border: 1px solid var(--primary-color-02);

  margin-bottom: 24px;
}
