/* @media screen and (min-width: 375px) {
    .container {
      max-width: 375px;
      padding-left: 20px;
      padding-right: 20px;
    }
  } */

  /* .popular-title {
    text-transform: uppercase;
    color: #21dd10;
  } */

  /* .popular {
    display: block;
  } */