.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
}

.favorites {
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 80px;
}

.fav-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.fav-hero {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex-direction: column;
}

.fav-image {
  width: 100%;
  height: 100%;
  display: flex;
}

.thumb {
  border-radius: 4%;
  overflow: hidden;
}

.block-for-empty {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  gap: 24px;
}

.message-for-empty {
  width: 100%;
  color: var(--txt-color);
  font-size: 14px;
  line-height: 1.28;
}

.fav-category-fltr-btn {
  display: flex;
  padding: 14px 18px;
  justify-content: center;
  align-items: center;
  gap: 18px;
  border-radius: 15px;
  border: 1px solid var(--gray-color-btn);
  color: var(--gray-color-btn);
  background-color: var(--bg-main);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
}
.btn-left1{
    fill: #f8f8f880;
background-color: #050505;
border: 1px solid #050505;
}

.fav-category-fltr-btn:hover,
.fav-category-fltr-btn:focus {
  background-color: var(--accent);
  color: var(--white_2);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.recipes-block {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.btn-all-categori {
  max-width: 176px;

  font-family: Inter;
  font-size: 16px;

  line-height: 1.2;
  color: var(--primary-color-05);
  background-color: var(--bg-main);

  padding: 14px 14px;
  border-radius: 15px;
  border: 1px solid var(--primary-color-02);
}
.active_btn {
  color: var(--white);
  background: var(--green);
}
/* --------------- MOBILE ------------------ */
@media screen and (min-width: 320px) {
  .fav-container {
    max-width: 320px;
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media screen and (min-width: 375px) {
  .fav-container {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .fav-image {
    width: 335px;
    height: 516px;
  }

  .message-for-empty {
    width: 335px;
  }
}

.btn-heard {
  position: relative;
  color: transparent;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid var(--cornflower-color);
  -webkit-text-stroke: 1px rgb(248, 248, 248, 0.3);
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 16px;
  color: rgb(251, 251, 251) !important;
  -webkit-text-stroke: 1px rgb(255, 255, 255) !important;
}
.btn-heard-noactiv {
  position: relative;
  color: transparent;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid var(--cornflower-color);
  -webkit-text-stroke: 1px rgb(248, 248, 248, 0.3);
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 16px;
}
.scrollable-list-fav {
  width: 100%;
  overflow: hidden;
}
.fav-category-block {
  display: flex;
  gap: 0px 15px;
  box-sizing: border-box;
  text-align: left;
  gap: 0px 18px;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  overflow-x: scroll;
}

.button-style-favorites {
  display: none;
  justify-content: center;
  gap: 24px;
  margin: 0 auto;
}

/* --------------- tABLET ----------------- */
@media screen and (min-width: 768px) {
  .fav-container {
    gap: 64px;
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .favorites {
    padding-bottom: 100px;
  }

  .fav-hero {
    gap: 64px;
  }
  div.cart-favorite {
    width: 224px;
  }

  .fav-image {
    width: 704px;
    height: 356px;
  }

  .recipe-icon-pic {
    width: 97px;
    height: 83px;
  }

  .block-for-empty {
    gap: 32px;
  }

  .message-for-empty {
    width: 481px;
    font-size: 16px;
    line-height: 1.5;
  }

  .recipes-block {
    gap: 32px;
  }
}

/* -------------- DESCTOP ------------------ */
@media screen and (min-width: 1280px) {
  .fav-container {
    max-width: 1280px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 0px;
  }
  div.cart-favorite {
    width: 258px;
  }
  .favorites {
    padding-top: 40px;
  }
  .fav-image {
    width: 1080px;
    height: 356px;
  }
}
