@import '~node_modules/modern-normalize/modern-normalize.css';
@import '../components/cards/styles.scss';
@import '../components/Header/Header.scss';
// @import '../components/Categories/Categories.scss';

@font-face {
    font-family: Inter-Regular;
    src: url(../../Fonts/Inter-Regular.ttf);
  }
body.light {
  --bg-main: #F8F8F8;
  --txt-color: #050505;
  --bg-mob-menu: #9BB537;
  --accent: #9BB537;
  --current-mob: #ffffff;
  --gray-color-btn: rgba(5, 5, 5, 0.30);
  --oragne: #EEA10C;
}

body.dark {
  --bg-main: #161616;
  --txt-color: #ffffff;
  --bg-mob-menu: #050505;
  --accent: #9BB537;
  --current-mob: #9BB537;
  --gray-color-btn: rgba(255, 255, 255, 0.3);
  --oragne: #EEA10C;
}

    :root{
      --bg-main: #F8F8F8;
      --txt-color: #050505;
      --bg-secondary: #E0E9F5;
      --accent: #9BB537;


        --white: #F8F8F8;
        --black: #161616;
        --black_2: #050505;
        --white_2: #ffffff;
        --green:#9BB537;
        --oragne:#EEA10C;
        --gray:#cecdcd;
    }
  body {
    font-family: Inter-Regular, sans-serif;
    background-color:var(--bg-main);
    color: var(--black);
    text-align: center;
  }
  *{
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  *, *:before, *:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  :focus, :active{outline: none;}
  a:focus, a:active{outline: none;}

  nav,footer,header,aside{display: block;}
  
  html, body{
  
    height: 100%;
    width: 100%;
    font-style: 100%;
    line-height: 1;
    font-style: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  input, button, textarea{font-family: inherit;}
  
  input::-ms-clear{display:none;}
  
  button{cursor: pointer;}
  
  button::-moz-focus-inner{padding: 0;border: 0;}
  
  a, a:visited{text-decoration: none;}
  
  a:hover{text-decoration: none;}
  
  ul li{list-style-type: none;}
  
  img{vertical-align: top;}
  
  h1,h2, h3, h4, h5, h6{font-style: inherit; font-weight: 400;}

  .container {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 auto;
  }
  @media screen and (min-width: 375px) {
    .container {
      max-width: 375px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  @media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
      padding-left: 32px;
      padding-right: 32px;
    }
  }
  @media screen and (min-width: 1280px) {
    .container {
      max-width: 1200px;
      padding-left: 100px;
      padding-right: 100px;
    }
  }



  .btn-categories {
    max-width: 176px;
  
    font-family: Inter;
    font-size: 18px;
  
    line-height: 1.2;
    color: rgba(5, 5, 5, 0.5);
  
    padding: 14px 29px;
    border-radius: 15px;
  
    border-color: rgba(5, 5, 5, 0.2);
  
    margin-bottom: 24px;
  }
  
  .category-item {
    font-family: Inter;
    font-size: 14px;
    line-height: 1.3;
    color: rgba(5, 5, 5, 0.3);
  }
  
  .scrollable-list {
    max-width: 326px;
    height: 198px;
    //   border: 1px solid black;
    overflow: hidden;
    margin-bottom: 40px;
  }
  
  .categories-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    height: 100%;
    box-sizing: border-box;
  }
  .popular-recipes {
    margin-bottom: 40px;
  }
  
  .select-text {
    font-family: Inter;
    font-size: 12px;
    line-height: 1.2;
    color: rgba(5, 5, 5, 0.5);
    margin-bottom: 8px;
  }
  
  .mob-time-area {
    display: flex;
    gap: 14px;
  }
  @media screen and (min-width: 768px) {
    .scrollable-list {
      max-width: 176px;
      height: 416px;
    }
  }
  @media screen and (min-width: 1280px) {
  }







