@import '~node_modules/modern-normalize/modern-normalize.css';

@import '../components/cards/styles.scss';
@import '../components/Header/Header.scss';
@import '../components/Categories/Categories.scss';


@font-face {
    font-family: Inter-Regular;
    src: url(../../Fonts/Inter-Regular.ttf);
  }

:root {
  --white: #F8F8F8;
  --black: #161616;
  --black_2: #050505;
  --white_2: #ffffff;
  --green: #9BB537;
  --oragne: #EEA10C;
  --gray: rgb(206, 205, 205);
}

:root[data-theme='light'] {
  --bg-main: #F8F8F8;
  --txt-color: #050505;
  --bg-mob-menu: #9BB537;
  --accent: #9BB537;
  --current-mob: #ffffff;
  --gray-color-btn: rgba(5, 5, 5, 0.30);
  --oragne: #EEA10C;
  --primary-color-08: rgba(5, 5, 5, 0.8);
  --primary-color-05: rgba(5, 5, 5, 0.5);
  --primary-color-03: rgba(5, 5, 5, 0.3);
  --primary-color-02: rgba(5, 5, 5, 0.2);
  --primary-color-01: rgba(5, 5, 5, 0.1);
  --primary-rating: #f8f8f8;
  --primary-modal-rating: rgba(5, 5, 5, 0.5);
  --primary-stars: rgba(248, 248, 248, 0.1);
  --primary-CardTitle-Description: #f8f8f8;
  --primary-raiting: #fff;
  --border-pag: #9bb537;
  --option-color: #fff;
  --grey:rgba(5, 5, 5, 0.30);
}

:root[data-theme='dark'] {
  --bg-main: #161616;
  --txt-color: #ffffff;
  --bg-mob-menu: #050505;
  --accent: #9BB537;
  --current-mob: #9BB537;
  --gray-color-btn: rgba(255, 255, 255, 0.3);
  --oragne: #EEA10C;
  --primary-color-08: rgba(255, 255, 255, 0.8);
  --primary-color-05: rgba(255, 255, 255, 0.5);
  --primary-color-03: rgba(255, 255, 255, 0.3);
  --primary-color-02: rgba(255, 255, 255, 0.2);
  --primary-color-01: rgba(255, 255, 255, 0.1);
  --primary-rating: rgba(255, 255, 255, 0.5);
  --primary-modal-rating: rgba(255, 255, 255, 0.5);
  --primary--stars: rgba(255, 255, 255, 0.1);
  --primary-CardTitle-Description: rgba(255, 255, 255, 0.8);
  --primary-menu-mob: #f8f8f8;
  --primary-raiting: #1e1e1e;
  --border-pag: #9bb537;
  --option-color: #050505;
  --grey:rgba(255, 255, 255, 0.30);;
}

  body {
    font-family: Inter-Regular, sans-serif;
    background-color:var(--bg-main);
    color: var(--txt-color);
    text-align: center;
  }
  *{
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  *, *:before, *:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  :focus, :active{outline: none;}
  a:focus, a:active{outline: none;}

  nav,footer,header,aside{display: block;}
  
  html, body{
  
    height: 100%;
    width: 100%;
    font-style: 100%;
    line-height: 1;
    font-style: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  input, button, textarea{font-family: inherit;}
  
  input::-ms-clear{display:none;}
  
  button{cursor: pointer;}
  
  button::-moz-focus-inner{padding: 0;border: 0;}
  
  a, a:visited{text-decoration: none;}
  
  a:hover{text-decoration: none;}
  
  ul li{list-style-type: none;}
  
  img{vertical-align: top;}
  
  h1,h2, h3, h4, h5, h6{font-style: inherit; font-weight: 400;}

  .container {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 auto;
  }
  @media screen and (min-width: 375px) {
    .container {
      max-width: 375px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  @media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
      padding-left: 32px;
      padding-right: 32px;
    }
  }
  @media screen and (min-width: 1280px) {
    .container {
      max-width: 1200px;
      padding-left: 100px;
      padding-right: 100px;
    }
  }



  




