<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="filter-flex-full">
      <button class="btn-categories" type="button">All categories</button>
      <div class="scrollable-list">
        <ul class="categories-list"></ul>
      </div>
      <h2 class="popular-recipes">POPULAR RECIPES</h2>
      <div class="filter-flex-column">
        <p class="select-text">Search</p>
        <input type="text" class="input-filter" placeholder="Enter text" />
        <div class="mob-time-area">
          <div class="select-container">
            <p class="select-text">Time</p>
            <select class="time-select"></select>
          </div>
          <div class="select-container">
            <p class="select-text">Area</p>
            <select class="area-select"></select>
          </div>
        </div>
        <p class="select-text">Ingredients</p>
        <select class="ingredients-select"></select>
      </div>
    </div>
  </body>
</html>
