<div class="hero-wrap">
  <div class="title-wrap">
    <h1 class="title">
      Learn to Cook <span>Tasty Treats'</span> Customizable Masterclass
    </h1>
    <p>
      TastyTreats - Customize Your Meal with Ingredient <br />Options and
      Step-by-Step Video Guides.
    </p>
    <button type="button" class="order-btn">Order now</button>
  </div>
  <div class="slider-wrap swiper">
    <div class="slider-content">
      <div class="slider-card swiper-wrapper">
        <div class="card swiper-slide">
          <div class="image-content">
            <div class="card-image">
              <img src="" alt="" class="card-cook" />
              <p class="description"></p>
              <h2 class="food"></h2>
            </div>
            <div class="card-image">
              <img src="#" alt="" class="card-first" />
              <p class="description"></p>
              <h2 class="food">food</h2>
            </div>
            <div class="card-image">
              <img src="#" alt="" class="card-second" />
              <p class="description"></p>
              <h2 class="food">food</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>
</div>
