<div class="container">
  <div class="hero-wrap">
    <div class="title-wrap">
      <h1 class="title">
        Learn to Cook <span>Tasty Treats'</span> Customizable Masterclass
      </h1>
      <p>TastyTreats - Customize Your Meal with Ingredient
         <br />Options andStep-by-Step Video Guides.
      </p>
      <button type="button" class="order-btn "  id="openModal">Order now</button>
    </div>

    <swiper-container class="mySwiper" pagination="true" pagination-clickable="true"  space-between="30"
    centered-slides="true" autoplay-delay="2500" autoplay-disable-on-interaction="false">

      </swiper-container>

  </div> 
  </div>
</div>