<section class="hero" >
  <div class="container hero-container ">
  <div class="hero-text-wrapper hero-wrap">
    <div class="title-wrap">
      <h1 class="hero-title">
        Learn to Cook
        <span class="hero-title-green">Tasty Treats'</span> Customizable
        Masterclass
      </h1>
      <p class="hero-text">
        TastyTreats - Customize Your Meal with Ingredient <br />Options
        andStep-by-Step Video Guides.
      </p>
      <button type="button" class="order-btn btnOrderNow" data-id="6462a8f74c3d0ddd28897fc1" >
        Order now
      </button>
    </div>
    <div class="case">
      <div class="swiper">
        <div class="events swiper-wrapper"></div>
      </div>
      <div class="slider-pagination"></div>
    </div>
  </div>
</div>
</section>
