.hero-container {
  overflow: hidden;
}

.hero {
  padding-top: 90px;
  padding-bottom: 80px;
}

.Home{
  padding-bottom: 80px;
}

.hero-title {
  min-width: 310px;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 600;
  line-height: 1.26;
}

.hero-title-green {
  color: var(--green);
  font-style: italic;
  font-weight: 400;
}

.hero-text {
  margin: 14px 0 28px;
  font-size: 14px;
  line-height: 18px;
}

.btnOrderNow {
  cursor: pointer;
  border: 1px solid var(--green);
  color: var(--txt-color);
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  transition-property: color, background-color;
  transition-duration: 200ms;
  margin-bottom: 48px;
  transition: all 500ms;
}

.btnOrderNow:hover {
  border: 1px solid var(--green);
  background-color: var(--green);
  color: var(--white);

}


.hero-text-wrapper {
  text-align: left;
}

@media screen and (min-width: 768px) {
  .Home{
    padding-bottom: 100px;
  }
  .hero-text-wrapper {
    text-align: left;
    width: 446px;
    margin-right: 32px;
  }
  .btnOrderNow{
    margin-bottom: 64px;
  }
  .hero-title {
    width: 446px;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
  }
  .hero-title-green {
    color: var(--green);
    font-style: italic;
    font-weight: 400;
  }
  .hero-text {
    width: 408px;
    margin: 16px 0 32px;
    font-size: 16px;
    line-height: 24px;
  }
  .btnOrderNow {
    padding: 14px 28px;
  }
  .case {
    width: 889px;
  }
  .slider-pagination {
    margin-left: 300px;
  }
  .chief-cook {
    height: 442px;
    width: 137px;
  }
  .mini-picture-card {
    height: 442px;
    width: 351px;
    margin: 0 16px;
  }
  .mini-picture {
    height: 262px;
    width: 262px;
  }
  .dish-name {
    width: 276px;
    font-size: 14px;
    line-height: 18px;
  }
  .country {
    font-size: 12px;
    line-height: 14px;
  }
  .big-picture {
    height: 442px;
    width: 351px;
    background-size: 850px;
  }
}

@media screen and (min-width: 1280px) {
  .title-wrap{
    padding-top: 45px;
  }

  .hero {
    overflow: hidden;
  }
  .hero-container {
    align-items: center;
    display: flex;
  }
  .btnOrderNow{
    margin-bottom: 0px;
  }
  .hero-wrap{
    display: flex;
  }

}




// ========= swiper ===============
.events,
.slider-card {
  display: flex;
}
.case {
  width: 515px;
}

.swiper {
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  list-style: none;
  display: block;
  position: relative;
  overflow: hidden;
}

.slider-pagination {
  margin: 24px 0 0 155px;
}

.slider-card {
  display: flex;
}

.chief-cook {
  height: 280px;
  width: 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  display: block;
}

.mini-picture-card {
  height: 280px;
  width: 200px;
  background-color: #050505;
  border-radius: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  display: flex;
}

.mini-picture {
  height: 150px;
  width: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  display: block;

}

.dish-name {
  text-align: center;
  color: rgb(248, 248, 248, 0.6);
  text-transform: uppercase;
  width: 172px;
  font-size: 10px;
  font-weight: 500;
  line-height: 14px;
  display: block;
  margin-bottom: 5px;
}

.country {
  color: rgb(248, 248, 248, 0.2);
  font-size: 8px;
  line-height: 12px;
  display: block;
}

.big-picture {
  height: 280px;
  width: 185px;
  background-position: 45%;
  background-size: 564px;
  background-color: #050505;
  border-radius: 15px;
  display: block;
}

span.swiper-pagination-bullet {
  opacity: 1;
  background-color: #050505;
}

span.swiper-pagination-bullet-active {
  background: #9bb537;
  opacity: 1;
}

@media screen and (min-width: 375px) {

.mini-picture {
  margin-bottom: 60px;
}
.hero-title {
  min-width: 335px;
}

}
@media screen and (min-width: 768px) {
  .hero-text-wrapper {
    text-align: left;
    width: 446px;
    margin-right: 32px;
  }
  .btnOrderNow {
    margin-bottom: 64px;
    border: 1px solid var(--green);
    background-color: var(--bg-main);
    color: var(--txt-color);
  }
  .btnOrderNow:hover {
    border: 1px solid var(--green);
    background-color: var(--green);
    color: var(--white);
  }
  .hero-title {
    width: 446px;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
  }
  .hero-title-green {
    color: var(--green);
    font-style: italic;
    font-weight: 400;
  }
  .hero-text {
    width: 408px;
    margin: 16px 0 32px;
    font-size: 16px;
    line-height: 24px;
  }
  .btnOrderNow {
    padding: 14px 28px;
  }

  .case {
    width: 889px;
  }
  .slider-pagination {
    margin-left: 300px;
  }
  .chief-cook {
    height: 442px;
    width: 137px;
  }
  .mini-picture-card {
    height: 442px;
    width: 351px;
    margin: 0 16px;
    padding-top: 42px;
  }
  .mini-picture {
    height: 262px;
    width: 262px;
  }
  .dish-name {
    width: 276px;
    font-size: 14px;
    line-height: 18px;
  }
  .country {
    font-size: 12px;
    line-height: 14px;
  }
  .big-picture {
    height: 442px;
    width: 351px;
    background-size: 850px;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    padding-bottom: 100px;
  }
  .hero-container {
    align-items: center;
    display: flex;
  }

swiper-container {
  width: 355px;
  height: 466px;
}
}
@media screen and (min-width: 768px) {
  swiper-container {
    width: 736px;
    height: 466px;
  }
}
@media screen and (min-width: 1280px) {
  swiper-container {
    width: 640px;
    height: 466px;
  }
  .hero-wrap {
    display: flex;
    gap:0px 23px;
   }

  }


