/* ------- DESCTOP ---------- */
.hero-wrap {
    width: 100%;
  }
  .title-wrap {
    padding-top: 125px;
    text-align: left;
    width: 446px;
    font-weight: 400;
  }
  
  .title {
    color: var(--black_2);
    width: 446px;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
    text-transform: uppercase;
  }
  .title span {
    color: var(--green);
    font-size: 36px;
    font-style: italic;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
  }
  .title-wrap p {
    color: #050505;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    padding-top: 16px;
    padding-bottom: 32px;
  }
  .order-btn {
    border: 1px solid var(--green);
    background-color: var(--white);
    color: var(--black_2);
    border-radius: 15px;
    padding: 14px 28px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .order-btn:hover {
    border: 1px solid var(--green);
    background-color: var(--green);
    color: var(--white);
  }
  /* ------SLIDER------ */
  
  .slider-wrap {
    min-width: 350px;
    height: 450px;
  }
  .card-image {
    border: 1px solid;
    border-radius: 15px;
    position: relative;
    min-width: 137px;
    height: 442px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .image-content {
    display: flex;
    gap: 20px;
  }
  .description {
    color: rgba(248, 248, 248, 0.6);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.28;
    text-transform: uppercase;
  }
  .food {
    color: rgba(248, 248, 248, 0.2);
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16px;
    margin-bottom: 20px;
    margin-top: 8px;
  }


  swiper-container {
    width: 355px;
    height: 440px;
  }

  @media screen and (min-width: 768px) {
    swiper-container {
      width: 736px;
      height: 440px;
    }
  }
@media screen and (min-width: 1280px) {
  swiper-container {
    width: 640px;
    height: 440px;
  }
  .hero-wrap {
   display: flex;
  }
}



  swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    gap:0px 16px;
    justify-content: center;
    align-items: center;
  }

  swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
  }

  .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
  }
  .imggg{
    width: 33%;
  }

.slider_img1{
  width: 137px;
  height:442;
  border-radius: 15px;
border: 1px solid rgba(155, 181, 55, 0.30);
background: #050505;

}
.slider_img2{
  width: 350;
  height:442;
  border-radius: 15px;
border: 1px solid rgba(155, 181, 55, 0.30);
background: #050505;
}
.slider_img3{
  width: 350;
   height:442;
   border-radius: 15px;
  background: #050505;
}
.img_imgUrl{
  border-radius: 15px;
}
.img_imgWebpUrl{
  border-radius: 15px;
}
.img_previewUrl{
  border-radius: 15px;
}





