<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <p>Текст, картинки, інші слайдери</p>
    </div>
    <div class="swiper-slide">
      <p>Текст, картинки, інші слайдери</p>
    </div>
    <div class="swiper-slide">
      <p>Текст, картинки, інші слайдери</p>
      <p>Текст, картинки, інші слайдери</p>
      <p>Текст, картинки, інші слайдери</p>
    </div>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
