
  .roz {
    margin-top: 199px;
    margin-left: 199px;
  }
  
  .modal {
    transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--option-color);
    padding: 40px;
    border: 1px solid #888;
    width: 310px;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 582px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
  }
  
  .close {
    color: #aaa;
    align-self: flex-end;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;
  }
  
  .modal-form-stl label {
    display: block;
  }
  
  .modal-form-stl input,
  .modal-form-stl textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid var(  --primary-color-02);
    background-color: var(--modal-bg);
    margin-top: 8px;
    margin-bottom: 18px;
    box-sizing: border-box;
  }
  
  .modal-btn-modal-form {
    background-color: #9bb537;
    color: #f8f8f8;
    padding: 14px 94px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .modal-style-input:valid {
    background-color: none;
  }
  
  /* -------------------Style for button on site----------------------- */
  .style-btn-modal {
    background-color: #9bb537;
    color: white;
    padding: 14px 162px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color:var(--txt-color);
    text-decoration: none;
    cursor: pointer;
  }
  .hover-btn:hover,
  .hover-btn:focus {
    color: black;
  }
  
  .style-btn-site {
    padding: 14px 28px;
    border: 1px solid #9bb537;
    border-radius: 15px;
    background: transparent;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
  }
  
  .style-btn-site:hover,
  .style-btn-site:focus {
    color: white;
    background-color: #9bb537;
  }
  
  .font-style {
    color: var(--txt-color);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    margin-bottom: 40px;
    margin-top: 0;
  }
  
  .style-btn-modal {
    padding: 25px;
  }
  
  .modal-style {
    text-align: left;
    margin: 0px;
  }
  
  .modal-form-stl input {
    border-radius: 15px;
  }
  .modal-form-stl textarea {
    border-radius: 15px;
    resize: none;
    height: 100px;
  }
  
  .modal-style-input {
    color: #9bb537;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    margin: 0;
  }
  
  .modal-style-input-text {
    color: var(--gray-color-btn);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
  }
  
  .modal-style-input:focus {
    border-color: #9bb537;
    outline: none;
  }
  
  .modal-style-input::placeholder {
    font-size: 10px;
    padding-left: 10px;
  }
  
  /* window  */
  .message-box {
    display: none;
    background-color: #9bb537;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  
  #okButton {
    margin-top: 10px;
  }
  
  /* Style for btn second modal */
  
  .closeThanksBtn {
    width: 55px;
    height: 35px;
    background-color: #889455;
    border-radius: 15px;
    border: 1px solid #0a0b06;
  }
  #messageText{
margin-bottom: 10px;
  }

  /* Mobile fersion */
@media screen and (min-width: 375px) {
  .modal-content {
      width: 335px;
    }
    .modal-btn-modal-form {
      padding: 14px 107px;
    }
  }
  
  /* Tablet version */
  @media screen and (min-width: 768px) {
    .modal-content {
      width: 440px;
      height: 632px;
    }
    .modal-btn-modal-form {
      padding: 14px 164px;
    }
    
  }
  