
  <div class="container-cards">
    <div class="gallery">
      <!-- Карточки изображений -->
    </div>
    <div class="button-style">
    <div class="btn-block-style">
      <button type="button" class="load-more btn-left"><<</button>
      <button type="button" class="load-more btn-left"><</button>
    </div>
   <div class="btn-block-style">
    <button type="button" class="load-more btn-center">1</button>
    <button type="button" class="load-more btn-center">2</button>
    <button type="button" class="load-more btn-center3">3</button>
    <button type="button" class="load-more btn-center">...</button>
   </div>
    <div class="btn-block-style">
    <button type="button" class="load-more btn-right">></button>
    <button type="button" class="load-more btn-right">>></button>
    </div>
  </div>
  </div>
