img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}
.img-card {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.photo-card {
  position: relative;
  border-radius: 8px;
}
.backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(5, 5, 5, 0.5);
  border-radius: 8px;
}

.container-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;

  margin: 0 auto;
}
.info {
  position: absolute;
  bottom: 63px;
  left: 16px;
}
.text-title{
  color: var(--white);
  font-size: 13.5px;
  font-weight: 400;
  margin-bottom: 8px;
  line-height: calc(18 / 13);
  text-transform: uppercase;
  text-align: left;
}

.info-item {
  margin-left: 0px;
  margin-bottom: 8px;
  font-size: 14px;
  text-transform: uppercase;
}
.info-text {
  font-size: 12px;
  color: var(--white);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  text-align: left;
}
.btn-see-recipe {
  position: absolute;
  font-family: Inter;
  bottom: 12px;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 500; 
  right: 16px;
  width: 93px;
  height: 31px;
  background-color: var( --green);
  border-radius: 8px;
  color: var(--white);
  border-color: transparent;
}

.load-more {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.load-more:hover,
.load-more:focus{
    color: black;
    background-color: var(--green);
    border-color: transparent;
}

.button-style {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: 0 auto;
}

.btn-block-style {
  display: flex;
  gap: 8px;
}
.btn-left {
  width: 35px;
  background-color: rgba(5, 5, 5, 1);
  border: 1px solid rgba(5, 5, 5, 1);
  fill:rgb(248, 248, 248, 0.5);
  padding: 7px 12px 13px 4px;
}
.btn_start{
  width: 35px;
  background-color: rgba(5, 5, 5, 1);
  border: 1px solid rgba(5, 5, 5, 1);
  fill:rgb(248, 248, 248, 0.5);
}
.btn-center {
  width: 38px;
  height: 38px;
  color: var(--txt-color);
  border: 1px solid var( --gray-color-btn);
  background-color: var(--modal-bg);
}

.btn-right {
  background-color: var(--green);
  border: 1px solid var( --green);
  width: 35px;
  padding: 7px 8px 13px 9px;
}
.pagination-number:hover,
.pagination-button:focus {
  background-color:var( --green);
}

/* ---------------------------HEARD-------------------- */
.heard {
  position: absolute;
  display: flex;
  align-items: flex-end;
  color: var(--white);
  font-size: 22px;
  font-weight: 500;
  line-height: calc(18 / 16);
  top: 0px;
  right: 0px;
}

.heard-body {
  position: relative;
}

.heard-active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.btn-heard {
  position: relative;
  color: transparent;
  background-color: transparent;

  border: 1px solid var(--cornflower-color);
  -webkit-text-stroke: 1px rgb(248, 248, 248, 0.3);
  color: transparent;
  cursor: pointer;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 16px;

}
.btn-heard-color {
  color: red;
  -webkit-text-stroke: 1px red;
}


.btn-heard-color {
  position: absolute;
  background-color: transparent;
  color: red;
  width: 22px;
  height: 22px;
}

.heart-icon-active{
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 1px rgb(248, 248, 248, 0.3);
}



/* ---------------------------RATING-------------------- */
.rating {
  position: absolute;
  display: flex;
  align-items: flex-end;
  align-items: center;
  color: var(--white);
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: calc(18 / 16);
  bottom: 20px;
  left: 16px;
}

.rating-body {
  position: relative;
}

.rating-active {
  position: absolute;
  width: 80%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
.rating-active::before {
  content: '★★★★★';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: var(--oragne);
}
.rating-items {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.rating-item {
  flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}
.rating-value {
  font-size: 100%;
  line-height: 1;
  padding: 0px 4px 0px 0px;
}
/* ---------------------------WIDTH 320PX------------- */
@media screen and (min-width: 320px) {
  .photo-card {
    width: 304px;
    height: 304px;
  }
}
.button-style {
  gap: 10px;
}
.btn-block-style {
  gap: 4px;
}
.btn-center3 {
  display: none;
}

/* ---------------------------WIDTH 375PX------------- */
@media screen and (min-width: 375px) {
  .photo-card {
    width: 335px;
    height: 335px;
  }
  .button-style {
    gap: 14px;
  }
  .btn-left {
    width: 40px;
    padding: 8px 10px 9px 8px;
  }
  .btn-right {
    width: 40px;
    padding: 9px 9px 9px 9px;
  }
}

/* ---------------------------WIDTH 768PX------------- */
@media screen and (min-width: 768px) {
  .container-cards {
    gap: 60px;
  }
  .gallery {
    gap: 16px;
  }
  .photo-card {
    width: 240px;
    height: 264px;
  }
  .btn-left {
    width: 44px;
  }
  .btn-center {
    width: 44px;
  }
  .btn-right {
    width: 44px;
  }
 .btn-center3{
  display: block;
 }
  
.load-more {
  width: 44px;
  height: 44px;
}
}
/* ---------------------------WIDTH 1280PX------------- */
@media screen and (min-width: 1280px) {
  .container-cards {
    gap: 64px;
  }
  .gallery {
    gap: 20px 16px;
  }
  .photo-card {
    width: 250px;
    height: 287px;
  }
}

