<section class="modal hidden">
    <button class="btn-close">
        <svg class="close-icon" width="20" height="20">
            <use href="./images/sprite.svg#icon-close"></use>
          </svg>
      </button>
    <div class="modal-content">
      
      <iframe src="https://www.youtube.com/embed/dsJtgmAhFF4" title="YouTube video player" frameborder="0" scrolling="no"></iframe>

    <div class="modal-info"> 
        <h2 class="recipe-name">
          Banana pancakes
        </h2>
        <div class="rating-time">
            <div class="rating">
                4.5
                <svg class="stars-rating">
                    <use href="./images/sprite.svg#icon-stars" height="18px" width="94px"></use>
                  </svg>
            </div>
            <div class="time">
                40 min
            </div>
        </div>
            <ul class="ingridients_list">
               <li class="ingridient_item">
                   <p class="ingridient_name">Banana</p>
                   <p class="ingriedient_amount">1 large</p>
               </li>
               <li class="ingridient_item">
                <p class="ingridient_name">Eggs</p>
                <p class="ingriedient_amount">2 medium</p>
            </li>
           </ul>
           <ul class="tags_list">
            <li class="tag_item">
              <p>
              #Breakfast
              </p>
            </li>
           </ul>
        </div>
    </div>
    
  </section>
  
  <div class="overlay hidden"></div>