<section class="modal hidden">
    <button class="btn-close">
        <svg class="close-icon" width="20" height="20">
            <use href="./images/sprite.svg#icon-close"></use>
          </svg>
      </button>
    <div class="modal-content">
      
      <iframe src="https://www.youtube.com/embed/dsJtgmAhFF4" title="YouTube video player" frameborder="0" scrolling="no"></iframe>

    <div class="modal-info"> 
        <h2 class="recipe-name">
          Banana pancakes
        </h2>
        <div class="rating-time">
            <div class="rating">
                4.5
                <svg class="stars-rating">
                    <use href="./images/sprite.svg#icon-stars" height="18px" width="94px"></use>
                  </svg>
            </div>
            <div class="time">
                40 min
            </div>
        </div>
    </div>
    </div>
    
  </section>
  
  <div class="overlay hidden"></div>